#introducao {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgb(0, 0, 0)), url(../../img/section-introducao/background.jpg);
    color: white;
    display: flex;
    align-items: center;
}

#textosIntroducao {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    transform: translateX(20%);
}

#textosIntroducao h2 {
    width: 480px;
    font-family: "Neue Plak Extended Bold";
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
}

#textosIntroducao hr {
    width: 480px;
    border: 2px solid white;
    border-radius: 1rem;
}

#textosIntroducao p {
    width: 850px;
    font-family: "Neue Plak Extended SemiBold";
    font-size: 1.8rem;
    color: #363A46;
}